fastapi
uvicorn
sqlalchemy[asyncio]>=2.0.0
pydantic
passlib
bcrypt
greenlet
python-dotenv
alembic
pytest
cryptography
aiohttp
python-jose
boto3
haversine
aiofiles
asyncpg
flake8
black
itsdangerous
pydantic-settings