fastapi
uvicorn
sqlalchemy[asyncio]>=2.0.0
pydantic
passlib
bcrypt
greenlet
python-dotenv
alembic
pytest
cryptography
aiohttp
python-jose
boto3
haversine
aiofiles
asyncpg
flake8
black
itsdangerous
pydantic-settings
pre-commit
flake8-bugbear
flake8-comprehensions
flake8-pytest-style
isort
mypy
authlib
email-validator >= 2.0
sphinx